{% extends "base/base.html" %}

{% block content %}
    <div class="card" id="outer">
        <div class="card-body">
            <h1 class="card-title">Videoshots</h1>
            <div id="inner">
                {% for item in images %}
                    <div class="card">
                        <a href={% url "image_detail" item.image.id %}>
                            <img src="{{ item.screenshot_url }}" class="card-img-top" alt="kaputt :(">
                        </a>
                        <div class="card-body" style="display: flex">
                            <button type="button" class="btn btn-danger"
                                    onclick="location.href={% url "delete_image" item.image.id %}"><i class="bi bi-trash"></i>
                            </button>
                            <a class="btn btn-danger"><i class="bi bi-trash"></i></a>
                        </div>
                    </div>
                {% empty %}
                    <p> Hier ist es ziemlich still</p>
                {% endfor %}
            </div>

            <a href="{% url "create_image" %}" class="btn btn-primary"></a>
        </div>
    </div>

{% endblock %}